<?xml version="1.0"?>
<config>
    <modules>
        <James_Alphabetize>
            <version>0.1.0</version>
        </James_Alphabetize>
    </modules>
    <global>
        <models>
            <james_alphabetize>
                <class>James_Alphabetize_Model</class>
            </james_alphabetize>
        </models>
        <helpers>
            <james_alphabetize>
                <class>James_Alphabetize_Helper</class>
            </james_alphabetize>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_alpha>
                        <class>james_alphabetize/observer</class>
                        <method>attributeAlphabetize</method>
                    </add_button_alpha>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </global>
    <admin>
        <routers>
            <alphabetize>
                <use>admin</use>
                <args>
                    <frontName>attribute</frontName>
                    <module>James_Alphabetize</module>
                </args>
            </alphabetize>
        </routers>
    </admin>
</config>